/* ======================================================== 
                        320 - 1023
======================================================== */
/*@media (max-width: 600px) {

}*/


/* ======================================================== 
                        320 - 1023
======================================================== */

@media (min-width: 320px) and (max-width: 1023px) {
.container {
    position: relative;
    padding: 0px 15px;
}

.header-logo {
    padding-top: 10px;
    height: 35px;
}

.brand { 
	max-width: 75px; 
}

header {
	right: 0;
	transition: right .5s;
}

.nav-trigger {
	display: block;
	position: absolute;
	right: 0;
	top: 4px;
	background: transparent;
	border: none;
}

.nav-trigger:focus { 
	outline: none; 
}

.show-nav .nav-trigger { 
	margin-top: 10px; 
}

.nav-trigger span {
	position: relative;
	display: block;
	width: 25px;
	height: 4px;
	margin: 4px 0;
	border-radius: 5px;
	background-color: #000;
	transition: all .2s;
}

.show-nav .nav-trigger span:nth-child(1) { 
	transform: rotate(405deg); 
}

.show-nav .nav-trigger span:nth-child(2) { 
	opacity: 0; 
}

.show-nav .nav-trigger span:nth-child(3) {
	transform: rotate(-405deg);
	bottom: 16px;
}

.nav {
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 0;
	width: 50px;
	height: 50px;
}

.nav-list { 
	display: none; 
}

.mobile-nav .nav-list { 
	display: block; 
}

.mobile-nav {
	display: block;
	background: #2a2a2a;
	position: absolute;
	left: 100%;
	bottom: 0;
	top: 0;
	width: 80%;
	transition: left .5s;
}

.show-nav .mobile-nav { 
	left: 20%; 
}

.nav-item {
	width: 100%;
	border-bottom: 1px solid #333;
}

.nav-item a .fa {
	position: absolute;
	left: 10px;
	color: #fff;
	font-size: 18px;
}

.nav-item a {
	display: block;
	padding: 15px 20px 15px 40px;
	border: none;
}

.nav-list a { 
	color: #fff !important; 
}

.show-nav header { 
	right: 80%; 
}


}



/* ======================================================== 
                        320 - 480
======================================================== */

@media (min-width: 320px) and (max-width: 480px) {

.content-left {
    padding-top: 380px;
}


}

/* ======================================================== 
                        480 - 767
======================================================== */

@media (min-width: 480px) and (max-width: 767px) {

}

/* ======================================================== 
                        768 - 1023
======================================================== */

@media (min-width: 768px) and (max-width: 1023px) {

}

/* ======================================================== 
                        768 - 1324
======================================================== */

@media only screen and (min-device-width: 768px) and (max-device-width: 1324px) {


}

/* ======================================================== 
                        320 - 1023
======================================================== */

@media (min-width: 1023px) and (max-width: 1199px) {


}