/* ufontscomtw-cen-mt */
@font-face {
    font-family: "ufontscomtw-cen-mt";
    src: url("../fonts/ufontscomtw-cen-mt.eot");
    src: url("../fonts/ufontscomtw-cen-mt.eot#iefix") format("embedded-opentype"),
    url("../fonts/ufontscomtw-cen-mt.woff") format("woff"),
    url("../fonts/ufontscomtw-cen-mt.ttf") format("truetype"),
    url("../fonts/ufontscomtw-cen-mt.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}


@charset "utf-8";

/* ======================================================== 
            set up
======================================================== */

*{
    margin: 0;
    padding: 0;
    outline: 0 none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

img{
    border: 0;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

ul,ol{ list-style: none; }

html, body {
    margin: 0px;
    padding: 0px;
    background: #FF9E00; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #FF9E00 , #FFD200); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #FF9E00, #FFD200); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #FF9E00, #FFD200); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #FF9E00 , #FFD200); /* Standard syntax */
}

p {
    margin: 0;
}

.img-responsive {
    display: inline;
    max-width: 100%;
    height: auto;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* ======================================================== 
                        responsive navigation
======================================================== */
.nav-trigger { 
    display: none; 
}

header {
    position: relative;
    background-color: #ffec99;
    border-bottom: 2px dotted #FFC708;
    border-top: 2px solid #000;
}

.nav {
    position: relative;
}

.nav-list {
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 0;
}

.nav-item {
    margin-bottom: 0;
    float: left;
    list-style: none;
    border-right: 5px transparent solid;
}

.nav-item a {
    display: block;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12.5px;
    height: 53px;
    line-height: 53px;
}

.nav-item a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #FFDF4A;
}

.mobile-nav { 
    display: none; 
}

/* first nav item */
.nav-item:nth-child(1) .fa { 
    color: #FAD089; 
}

/* second nav item */

.nav-item:nth-child(2) .fa { 
    color: #FF9C5B; 
}

/* third nav item */
.nav-item:nth-child(3) .fa { 
    color: #F5634A; 
}

.nav-item:nth-child(4) .fa { 
    color: #ED303C; 
}

/* fifth nav item */
.nav-item:nth-child(5) .fa { 
    color: #3B8183; 
}

.header-logo {
    padding-top: 10px;
}

.nav-item > a {
    padding: 0px 8px;
}

.main-content {
    padding-bottom: 75px;
}

.left-wrapper {
    background: url("../images/girl.png") top left no-repeat;
    background-position: top 47px left 58px;
    min-height: 350px;
    position: relative;
}

.right-wrapper {
    padding-top: 85px;
    min-height: 350px;
    padding-left: 0;
    padding-right: 0;
}

.view-more {
    width: 170px;
    height: 50px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 62px;
    left: 81px;
    text-align: center;
    transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -webkit-transform: rotate(3deg);
    -o-transform: rotate(-15deg);
}

.title-l {
    text-transform: uppercase;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

.content-left {
    padding-top: 150px;
}

.btn-share-recipes {
    width: 240px;
    height: 38px;
    background: url("../images/small-red.png") top left no-repeat #fff;
    padding: 3px;
}

.dv-border-inline {
    width: 100%;
    height: 100%;
    border: 1px solid #D0C9BA;
    padding-left: 48px;
    padding-right: 25px;
    line-height: 0.9;
    padding-top: 3px;
    text-align: center;
}

.btn-share-recipes a {
    color: #000;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.center-block {
    display: table;
    margin: 0px auto;
}

.description-r {
    text-align: center;
    padding: 0 30px;
}